.heading{
  color:#fff;
  text-align: center;
  font-size: 4ch;
  text-transform: uppercase;
}

.menu{
  display: flex;
  flex-wrap: wrap;
}

.back{
  position: relative;
  top:15px;
  color:#fff;
  margin: 10px;
  padding: 5px 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

.menu span{
  margin: 10px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 2ch;
  cursor: pointer;
}

/* Questions */
.questions{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.questions .question{
  margin: 10px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 2ch;
  width: 90vw;
  max-width: 700px;
  white-space: pre-wrap;
}

.questions .question .questionText{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 2ch;

}
.questions .question .questionText div{
  margin:20px 0px;
}
.questions .question .questionText .number{
  margin: 5px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 2ch;
  width: fit-content;
  user-select: none;
}

.questions .question .questionAnswer{
  display:flex;
  flex-wrap: wrap;
  font-size: 2ch;
  white-space: pre-wrap;
}
.questions .question .questionAnswer span{ 
  margin:5px;
}
.questions .question .questionAnswer .hidden{
  background:#fff; 
  margin:5px;
  user-select: none;
}
.questions .question .questionAnswer .hidden:hover{
  background:transparent; 
  margin:5px;
}

.questions .question .questionFiles{ 
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 2ch;
}
.questions .question .questionFiles span{ 
  margin:5px;
}
.questions .question .questionFiles .file{ 
  margin:5px;
}


/* Add Question Modal */
.AddQuestionModal{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 700px;
  height: auto;
  background: #fff; 
  border-radius: 5px;
  box-shadow: 0px 0px 23px 0px #fff;
  padding:20px;
}

.AddQuestionModalHeader{
  color:#000;
  text-align: center;
  font-size: 4ch;
  text-transform: uppercase;
}

.AddQuestionModalHeader .close{
  position:absolute;
  top:5px;
  right:10px;
  color:#000;
  text-align: center;
  font-size: 2ch;
  text-transform: uppercase;
  transition:.2s all;
}
.AddQuestionModalHeader .close:hover{
  color:#ff0000;
  transform:rotate(90deg);
}

.AddQuestionModalBody{
  text-align: left;
  width: 85vw;
  max-width: 650px;
  height: fit-content;
  padding: 20px;
  margin: auto;
  background: #dedddd;
  border-radius: 15px;
}
.AddQuestionModalBody textarea{
  width: 75vw;
  max-width: 600px;
  height:200px
}

.AddQuestionModalBody button{
  margin: 10px;
  padding: 5px;
  background:#000;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 2ch;
  cursor: pointer;
}

/* User */
.AddEmail{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  background:#fff;
  padding:10px ;
  width: 90vw;
  max-width: 600px;
  border-radius: 20px;
}

.AddEmail input{
  padding: 5px 10px;
  background:#fff;
  border-radius: 5px;
  color: #000;
  font-size: 2ch;
  width: 90vw;
  max-width: 600px;
  border-radius: 20px 0 0 20px;
}

.AddEmail button{
  padding: 5px 10px;
  background:rgb(61, 73, 183);
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 2ch;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
}

.userList{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-width: 560px;
  margin: 20px auto;
  background:#fff;
  border-radius: 10px;
}

.userList .user{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  max-width: 540px;
  margin: 10px auto;
  border: #000 4px solid;
  padding: 10px 20px;
  border-radius: 10px;
}

.userList .user span{
  font-size: 2ch;
  font-family: ubuntu;
}
.userList .user button{
  font-size: 2ch;
  font-family: ubuntu;
  background: #f86262;
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}
.userList .user button:hover{
  background: #ff0000;
}


/* Leaderboard */


.copyToClipboardBtn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  background:#c8ffa3;
  padding:10px ;
  width: fit-content;
  max-width: 600px;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
}
.copyToClipboardBtn:hover{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  background:#56b815;
  padding:10px ;
  width: fit-content;
  max-width: 600px;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
}


.players{
  width:90vw;
  max-width:700px;
  margin: 0 auto;
  display: flex;
  flex-direction:column;
}

.player{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:100%;
    height:50px;
    background:#fff;
    color:#000;
    border-radius:20px;
    overflow:hidden;
    margin:10px 0;
    box-shadow: 0px 0px 26px -12px rgba(255,21,21,0.73);
    cursor:pointer;
}
 .player .playerImg{
    width:40px;
    height:40px;
    margin:5px;
    border-radius:20px;
}
 .player .playerName{
    font-family: Roboto;
    font-size: 2.2ch;
    font-weight: bold;
    margin-left: 10px;
}
.player .playerPts{
    background: #3A5FE5;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50px;
    font-family: Roboto;
    font-size: 2ch;
    font-weight: bold;
    margin: 0 10px;
}


/* Attempt */

.attempt{
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 600px;
  margin: 20px auto;
  background:#fff;
  border-radius: 20px;
  padding: 10px;
}
.attemptDetail{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 1px auto;
  background:#fff;
  border-radius: 20px;
}

.attemptDetail span{
  font-size: 2ch;
  font-family: ubuntu;
  padding: 5px 10px;
  text-align: center;
  background: #3A5FE5;
  color: #fff;
  margin: 5px;
  border-radius: 15px;
}
.attemptAnswer p{
  white-space: pre-wrap;
  font-size: 3ch;
  font-family: ubuntu;
  text-align: left;
  margin: 5px 20px;
}


/* Controls */

.switch-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

input[type=checkbox].switch {
  position: absolute;
  opacity: 0;
}

input[type=checkbox].switch + div {
  vertical-align: middle;
  width: 40px;
  height: 20px;
  border-radius: 999px;
  background-color: #ec3b3b;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow;
  cursor: pointer;
  box-shadow: 0px 0px 26px -12px rgba(0, 0, 0, 0.73);
}

input[type=checkbox].switch + div span {
  position: absolute;
  font-size: 1.6rem;
  color: white;
  margin-top: 12px;
}

input[type=checkbox].switch + div span:nth-child(1) {
  margin-left: 15px;
}

input[type=checkbox].switch + div span:nth-child(2) {
  margin-left: 55px;
}

input[type=checkbox].switch:checked + div {
  width: 94px;
  background-position: 0 0;
  background-color: #ec3b3b;
}

input[type=checkbox].switch + div {
  width: 94px;
  height: 48px;
}

input[type=checkbox].switch:checked + div {
  background-color: #57BB00;
}

input[type=checkbox].switch + div > div {
  float: left;
  width: 46px;
  height: 46px;
  border-radius: inherit;
  background: #ffffff;
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: transform, background-color;
  transition-property: transform, background-color;
  pointer-events: none;
  margin-top: 1px;
  margin-left: 1px;
}

input[type=checkbox].switch:checked + div > div {
  -webkit-transform: translate3d(20px, 0, 0);
  transform: translate3d(20px, 0, 0);
  background-color: #ffffff;
}

input[type=checkbox].bigswitch.switch + div > div {
  width: 44px;
  height: 44px;
  margin-top: 1px;
}

input[type=checkbox].switch:checked + div > div {
  -webkit-transform: translate3d(46px, 0, 0);
  transform: translate3d(46px, 0, 0);
}

.control{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: space-between;
  background: #fff;
  margin:20px auto;
  width: fit-content;
  width:90vw;
  max-width:560px;
  padding:20px;
  border-radius:20px;
}

.controlAbout{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: space-between;
  background: #fff;
  margin:20px auto;
  width: fit-content;
  width:90vw;
  max-width:560px;
  padding:20px;
  border-radius:20px;
}
.control .text{
  font-size:2.2ch;
}

.control .save{
  background:#3A5FE5;
  color:#fff;
  border-radius:5px;
  padding:10px 20px;
  margin: 0 5px; 
  font-size:2.2ch;
  font-family:ubuntu;
  cursor:pointer;
}

/* Teams */
.AddModal .modalClose{
  position:relative;
  top:5px;
  right:-190px;
  color:#000;
  font-size: 2.5ch;
  text-transform: uppercase;
  transition:.2s all;
}

.AddModal .modalClose:hover{
  color:#ff0000;
  transform:rotate(90deg);
}

.AddModalContatiner{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width:100%;
  height:100vh;
  position:fixed;
  top:0;
  left:0;
  z-index:10;
  transition:all 0.3s ease-in-out;
  overflow-y: scroll;
  
}

.AddModal{
  position:relative;
  top:5vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width:fit-content;
  height:fit-content;
  background:#fff;
  padding: 20px;
  border-radius:10px;
  box-shadow:0px 0px 30px -5px rgba(0, 0, 0, 0.809);
}
/* .AddModal:after{
  content:' ';
  height:10vh;
  widht:30vw;

} */

.AddModal .AddModalBody{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width:fit-content;
  height:fit-content;
  padding: 20px;
  border-radius:20px;
  background:#fff;
  box-shadow:0px 0px 20px -10px rgba(0,0,0,0.5);
  font-size: 2.5ch;
}

.AddModal .AddModalBody .TeamID{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  width:fit-content;
  height:fit-content;
  padding: 5px;
  margin: 10px;
  border-radius:5px;
  background:#7bb0ff;
  box-shadow:0px 0px 20px -10px rgba(0,0,0,0.5);
  font-size: 2ch;
  font-family:ubuntu;

}
.AddModal .AddModalBody input{
  width:fit-content;
  height:fit-content;
  padding: 5px;
  margin: 10px;
  border-radius:5px;
  box-shadow:0px 0px 20px -10px rgba(0,0,0,0.5);
  font-size: 1.5ch;
  font-family:ubuntu;
}
.AddModal .AddModalBody button{
  width:fit-content;
  height:fit-content;
  padding: 5px;
  margin: 10px;
  border-radius:5px;
  box-shadow:0px 0px 20px -10px rgba(0,0,0,0.5);
  font-size: 1.5ch;
  font-family:ubuntu;
  cursor:pointer;
}

.AddModal .AddModalBody .ViewMemberEmails{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width:fit-content;
  height:fit-content;
  padding: 5px 20px;
  margin: 10px;
  border-radius:5px;
  background:#7bb0ff;
  box-shadow:0px 0px 20px -10px rgba(0,0,0,0.5);
  font-size: 1.5ch;
  font-family:ubuntu;
}
.AddModal .AddModalBody .ViewMemberEmails .MemberEmails{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width:fit-content;
  height:fit-content;
  padding: 2px 20px;
  margin: 10px;
  border-radius:5px;
  background:#7bb0ff;
  box-shadow:0px 0px 20px -10px rgba(0,0,0,0.5);
  font-size: 1.5ch;
  font-family:ubuntu;
}

.TeamContainer{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width:fit-content;
  max-width: 90vw;
  height:fit-content;
  padding: 10px 1vw;
  border-radius:20px;
  margin: 0 auto;
}

.TeamContainer .Team{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width:fit-content;
  height:fit-content;
  padding: 1vh 1vw;
  border-radius:20px;
  background:#fff;
  box-shadow:0px 0px 20px -10px rgba(0,0,0,0.5);
  font-size: 2ch;
  margin: 10px auto;
}
.TeamContainer .Team .TeamName{
  font-size: 2.5ch;
  font-weight:bold;
  }

.TeamContainer .Team .TeamMemberEmails{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width:fit-content;
  height:fit-content;
  padding: 1vh 1vw;
  border-radius:20px;
  background:#fff;
  box-shadow:0px 0px 20px -10px rgba(0,0,0,0.5);
  font-size: 2ch;
  margin: 0px auto;
}

.TeamContainer .Team .TeamMemberEmails .TeamMemberEmailsList{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width:fit-content;
  height:fit-content;
  padding: 1vh 2vw;
  border-radius:20px;
  background:#fff;
  box-shadow:0px 0px 20px -10px rgba(0,0,0,0.5);
  font-size: 2ch;
  margin: 0 auto;
}
  .TeamContainer .Team .TeamMemberEmails .TeamMemberEmailsList .Emails{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    width:fit-content;
    height:fit-content;
    padding: 1vh 2vw;
    border-radius:20px;
    background:#5362ff;
    color:#fff;
    box-shadow:0px 0px 20px -10px rgba(0,0,0,0.5);
    font-size: 2ch;
    margin: 5px auto;
  }
.TeamContainer .Team button{
  width:fit-content;
  height:fit-content;
  padding: 5px;
  margin: 10px;
  border-radius:5px;
  box-shadow:0px 0px 20px -10px rgba(0,0,0,0.5);
  font-size: 2.5ch;
  font-family:ubuntu;
  cursor:pointer;
}