


.logo {
  font-family: Dosis;
  font-size: 1.5em;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 30px;
  position: fixed;
  top: 30px;
  left: 20px;
  width: 20vw;
}

.user{
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;
    width: 60vw;
    max-width: 300px;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0px 0px 101px -18px rgba(0,0,0,0.65);
    z-index: 999;
    user-select: none;
}
.user img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.user .username{
    font-family: Roboto;
    font-size: 2.5ch;
    font-weight: bold;
    margin-left: 10px;
}

.user .points{
    background: #3A5FE5;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50px;
    font-family: Roboto;
    font-size: 2ch;
    font-weight: bold;
    margin-left: 10px;
}

.mainArea{
    display:flex;
    flex-direction: row;
    height: fit-content;
    justify-content: center;
    margin : 0 10px;
    margin-top: 15vh;

}


@media (max-width: 1024px) {
    .mainArea{
        flex-direction: column;
        height: fit-content;
        margin-bottom:30vh;
    }
}

.mainArea .QuestionBox{
    display: flex;
    flex-direction: column;
    margin: 5vh auto;
    width: 90vw;
    max-width: 1200px;
    background: #fff;
    border-radius: 30px;
    height: fit-content;
}

.leaderboard{
    flex-direction: column;
    background: #1E0707;
    color:#fff;
    width: 80vw;
    height:500px;
    text-align:center;
    margin: 5vh auto;
    padding: 10px;
    border-radius: 50px;
    border: #fbeeee solid 2px;
    box-shadow: 0px 0px 26px -22px rgba(255,21,21,0.73);
    overflow:hidden;
    z-index:99;
}



@media (min-width: 1024px) {
    .mainArea .QuestionBox{
        display: flex;
        flex-direction: column;
        margin: 5vh auto;
        margin-right: 20px;
        width: 90vw;
        max-width: 1200px;
    }
    .leaderboard{
    flex-direction: column;
    background: #1E0707;
    color:#fff;
    width: 60vw;
    max-width: 350px;
    height:500px;
    text-align:center;
    margin: 5vh auto;
    padding: 10px;
    border-radius: 50px;
    border: #fbeeee solid 2px;
    box-shadow: 0px 0px 26px -22px rgba(255,21,21,0.73);
    overflow:hidden;
}
}

.leaderboard .players{
    height:450px;
    overflow-y:scroll;
}
.leaderboard .players::-webkit-scrollbar {
    width: 1px;
}

.leaderboard .players::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 


.leaderboard .player{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:100%;
    height:50px;
    background:#fff;
    color:#000;
    border-radius:20px;
    overflow:hidden;
    margin:10px 0;
    box-shadow: 0px 0px 26px -12px rgba(255,21,21,0.73);
}
.leaderboard .player .playerImg{
    width:40px;
    height:40px;
    margin:5px;
    border-radius:20px;
}

.leaderboard .player .playerName{
    font-family: Roboto;
    font-size: 2.2ch;
    font-weight: bold;
    margin-left: 10px;
}
.leaderboard .player .playerPts{
    background: #3A5FE5;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50px;
    font-family: Roboto;
    font-size: 2ch;
    font-weight: bold;
    margin: 0 10px;
}

.QuestionBox .details{
    display: flex;
    justify-content: space-between;
    position: relative;
    top:0;
    padding: 10px;
}

.QuestionBox .details .value{
    background: #3A5FE5;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50px;
    font-family: Roboto;
    font-size: 2ch;
    font-weight: bold;
    margin: 0 10px;
}

.QuestionBox .details .level{
    background: #073e1e;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50px;
    font-family: Roboto;
    font-size: 2ch;
    font-weight: bold;
    margin: 0 10px;
}

.QuestionBox .terminal{
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    width: 99%;
    height: 30vw;
    min-height: 520px;
    margin : 20px auto;
    padding : 20px;
    background: #000;
    border-radius: 30px;
    color:#39ff14;
    font-size: 2ch;
    line-height: 30px;
    font-family: monospace;
    overflow-y: scroll;
    padding-bottom: 20vh;
}

.QuestionBox .terminal::-webkit-scrollbar {
    width: 1px;
}

.terminal input{
    width: 55%;
    background: transparent;
    border: none;
    outline: none;
    color: #39ff14;
    font-size: 2ch;
    font-family: monospace;
    padding: 0;
    margin: 0;
    margin-left:10px;
}


.bg{
    z-index:-10;
}

.bg .bgH {
    position:fixed;
    top:0;
    width:100%;
    height:100vh;
    overflow:hidden;
}
.bg .bgH .bgHolder{
    position:fixed;
    top:0;
    width:100%;
    height:100vh;
    pointer-events: none;
}

/* Elements */

.elements{
    z-index: 9999;
}



.elements .eleven{
    position: fixed;
    bottom: 0;
    right: 0;
    width:20vw;
    min-width: 300px;
    user-select: none;
    z-index: 999;
}

@media (max-width: 1024px) {
    
    .elements .eleven{
        position: fixed;
        bottom: 0;
        right: -20vw;
        width:20vw;
        min-width: 300px;
        user-select: none;
    }

}


